.show-grid [class^="col-"] {
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
  padding-bottom: 10px;
  padding-top: 10px; }

.blue {
  background-color: #084ea6; }

.drak-blue {
  background-color: #3e464f; }

.drak-gray {
  background-color: #3e464f; }

.row {
  margin: 0; }

ul {
  list-style-type: none !important; }

body {
  background-color: #3e464f;
  background-color: #51534a;
  font-family: 'Source Sans Pro', helvetica, Sans-serif, Arial, Verdana; }

header {
  z-index: 9999;
  background-color: #fff;
  height: 73px; }
  header .navbar-default {
    background-color: #fff;
    border-color: none;
    border: none; }
    header .navbar-default .navbar-nav li {
      padding-top: 10px; }
    header .navbar-default .navbar-nav .active > a,
    header .navbar-default .navbar-nav .active > a:hover,
    header .navbar-default .navbar-nav .active > a:focus {
      background-color: #fff;
      color: #000; }
    header .navbar-default .navbar-nav a {
      padding-bottom: 5px;
      padding-top: 5px;
      font-size: 18px;
      color: #084ea6;
      border-right: none; }
  header .navbar .navbar-header {
    margin-top: 10px;
    vertical-align: middle; }
    header .navbar .navbar-header h1 {
      display: inline-block;
      margin: 0;
      padding: 0;
      padding-left: 10px;
      vertical-align: middle; }
      header .navbar .navbar-header h1 .cornell-logo {
        height: 52px;
        width: 49px;
        display: inline-block;
        background: white url("../images/cornell-logo-mobile.jpg") no-repeat top left; }
    header .navbar .navbar-header h2 {
      vertical-align: middle;
      margin: 0;
      padding: 0;
      display: inline-block;
      width: 65%;
      padding-left: 10px;
      font-size: 16px;
      line-height: 20px; }
      header .navbar .navbar-header h2 a {
        color: #3e464f; }

.home-content {
  background-color: #51534a; }
  .home-content .featured-maps {
    border-bottom: 1px solid #6e6f69;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0; }
  .home-content .home-intro {
    color: #fff; }
    .home-content .home-intro h3 {
      font-size: 30px;
      font-weight: 700;
      margin-top: 40px; }
      .home-content .home-intro h3 span {
        display: block;
        font-size: 26px;
        font-weight: 400; }
    .home-content .home-intro p {
      font-size: 20px; }
      .home-content .home-intro p a {
        color: #fff;
        text-decoration: underline; }
      .home-content .home-intro p a:hover {
        text-decoration: none; }
    .home-content .home-intro .dropdown {
      margin-top: 20px;
      margin-bottom: 30px; }
      .home-content .home-intro .dropdown li a {
        font-size: 18px; }
    .home-content .home-intro .browse-collection {
      background-color: #084ea6;
      color: #fff;
      border: none;
      font-size: 20px;
      padding: 10px; }
      .home-content .home-intro .browse-collection .caret {
        margin-left: 7px; }

footer {
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 20px;
  float: left;
  margin-right: 20px; }
  footer a {
    color: #fff;
    text-decoration: underline;
    font-size: 17px; }
    footer a:hover {
      color: #fff;
      text-decoration: none; }

.owl-carousel .owl-item div {
  padding: 0; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: auto;
  border: 3px solid #fff; }

.owl-carousel .owl-item .legend {
  padding: 10px;
  color: #fff;
  text-align: center;
  margin-top: 0;
  font-size: 22px; }

.owl-theme .owl-controls .owl-buttons div {
  background: none;
  color: #fff !important;
  display: inline-block;
  font-size: 80px;
  opacity: 1; }

.owl-theme .owl-controls {
  position: absolute;
  top: 40%;
  width: 97%;
  padding: 0 !important;
  margin: 0 !important;
  margin-left: 20px !important; }

.owl-theme .owl-controls .owl-buttons div.owl-prev {
  display: none !important;
  float: left !important;
  padding: 0;
  margin: 0;
  font-family: 'Quicksand'; }

.owl-theme .owl-controls .owl-buttons div.owl-next {
  display: none !important;
  float: right !important;
  padding: 0;
  margin: 0;
  font-family: 'Quicksand'; }

.inteior-content {
  min-height: 600px;
  color: #fff; }
  .inteior-content h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid #6e6f69;
    padding-bottom: 20px;
    margin-top: 40px; }
    .inteior-content h3 span {
      display: block;
      font-size: 18px;
      font-weight: 400; }
  .inteior-content h4 {
    font-size: 30px;
    margin-top: 20px; }
  .inteior-content p {
    font-size: 16px; }
    .inteior-content p a {
      color: #fff;
      text-decoration: underline; }
    .inteior-content p a:hover {
      text-decoration: none; }
  .inteior-content .side-bar {
    margin-top: 20px;
    border-top: 1px solid #6e6f69;
    padding-top: 20px; }
    .inteior-content .side-bar ul {
      list-style-type: disc !important; }
      .inteior-content .side-bar ul li {
        font-size: 16px; }
        .inteior-content .side-bar ul li a {
          color: #fff;
          text-decoration: underline; }
        .inteior-content .side-bar ul li a:hover {
          text-decoration: none; }
      .inteior-content .side-bar ul li::after {
        content: ">";
        font-family: 'Quicksand';
        padding-left: 3px;
        font-size: 14px; }

/*later  

.name-node {

    .inteior-content {

        background: url("../images/about.jpg") repeat-y left top;

    }

}
*/
/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */
/*
 __                 _ _   _____      _     _      _       
/ _\_ __ ___   __ _| | | /__   \__ _| |__ | | ___| |_ ___ 
\ \| '_ ` _ \ / _` | | |   / /\/ _` | '_ \| |/ _ \ __/ __|
_\ \ | | | | | (_| | | |  / / | (_| | |_) | |  __/ |_\__ \
\__/_| |_| |_|\__,_|_|_|  \/   \__,_|_.__/|_|\___|\__|___/

*/
/*
 _____      _     _      _       
/__   \__ _| |__ | | ___| |_ ___ 
  / /\/ _` | '_ \| |/ _ \ __/ __|
 / / | (_| | |_) | |  __/ |_\__ \
 \/   \__,_|_.__/|_|\___|\__|___/
                                 
*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header .navbar .navbar-header h2 {
    width: 500px; }

  header {
    height: 120px; }
    header .navbar {
      background-color: #fff;
      border-color: none; }
      header .navbar .navbar-header {
        width: 580px; }
      header .navbar #bs-example-navbar-collapse-1 {
        padding-top: 0;
        float: left; }
        header .navbar #bs-example-navbar-collapse-1 .navbar-nav li {
          padding-top: 10px; }
          header .navbar #bs-example-navbar-collapse-1 .navbar-nav li a {
            font-size: 20px; }
        header .navbar #bs-example-navbar-collapse-1 .navbar-nav .active > a,
        header .navbar #bs-example-navbar-collapse-1 .navbar-nav .active > a:hover,
        header .navbar #bs-example-navbar-collapse-1 .navbar-nav .active > a:focus {
          background-color: #fff;
          color: #000; }
        header .navbar #bs-example-navbar-collapse-1 .navbar-nav a {
          padding-bottom: 5px;
          padding-top: 5px;
          font-size: 18px;
          color: #084ea6;
          border-right: 1px solid gray; }
        header .navbar #bs-example-navbar-collapse-1 .navbar-nav .dropdown li a {
          font-size: 20px;
          border-right: none; }

  .owl-carousel .owl-item div {
    padding: 30px; }

  .owl-carousel .owl-item img {
    display: block;
    width: 90%;
    margin: 0 auto;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }

  .owl-theme .owl-controls {
    position: absolute;
    top: 40%;
    width: 97%;
    padding: 0 !important;
    margin: 0 !important;
    margin-left: 20px !important; }

  .owl-theme .owl-controls .owl-buttons div.owl-prev {
    display: block !important;
    float: left !important;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand'; }

  .owl-theme .owl-controls .owl-buttons div.owl-next {
    display: block !important;
    float: right !important;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand'; }

  .home-content {
    background-color: #51534a; }
    .home-content .featured-maps {
      border-bottom: 1px solid #6e6f69;
      padding-bottom: 0;
      padding-top: 0;
      padding-left: 0;
      padding-right: 0; }

  .inteior-content .interior-copy {
    padding-left: 200px; }
  .inteior-content .side-bar {
    padding-left: 0;
    margin-top: 20px;
    border-top: 1px solid #6e6f69;
    padding-top: 20px;
    margin-left: 200px;
    width: 300px; }

    /*later  

    .name-node {

        .inteior-content {

            background: url("../images/about.jpg") repeat-y left top;

        }

    }
    */
  .inteior-content.about {
    background: url("../images/about.jpg") repeat-y left top; } }
 /*  
    ___          _    _              
   /   \___  ___| | _| |_ ___  _ __  
  / /\ / _ \/ __| |/ / __/ _ \| '_ \ 
 / /_//  __/\__ \   <| || (_) | |_) |
/___,' \___||___/_|\_\__\___/| .__/ 
                              |_|    
 */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .home-content .featured-maps {
    width: 100%; }
  .home-content .home-intro {
    width: 100%; }

  .inteior-content h3 {
    font-size: 30px; }
  .inteior-content h4 {
    font-size: 36px; }
  .inteior-content p {
    font-size: 20px; }
  .inteior-content .interior-copy {
    padding-left: 200px; }
  .inteior-content .side-bar {
    margin-top: 20px;
    border: none;
    padding-top: 0;
    margin-left: 200px;
    padding-left: 0;
    width: 100%; }
    .inteior-content .side-bar ul li {
      font-size: 20px; } }
/*
   __                           ___          _    _              
  / /  __ _ _ __ __ _  ___     /   \___  ___| | _| |_ ___  _ __  
 / /  / _` | '__/ _` |/ _ \   / /\ / _ \/ __| |/ / __/ _ \| '_ \ 
/ /__| (_| | | | (_| |  __/  / /_//  __/\__ \   <| || (_) | |_) |
\____/\__,_|_|  \__, |\___| /___,' \___||___/_|\_\__\___/| .__/ 
                |___/                                     |_|    
*/
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .home-content .featured-maps {
    width: 75%;
    border-bottom: none; }
  .home-content .home-intro {
    width: 25%; }
    .home-content .home-intro h3 {
      margin-top: 50px;
      font-size: 30px; }
    .home-content .home-intro p {
      font-size: 20px; }

  .inteior-content .side-bar {
    border: medium none;
    margin-left: 0;
    margin-top: 150px;
    padding-left: 30px;
    padding-top: 0;
    width: 300px; } }
@media (min-width: 1257px) {
  header {
    height: 75px; }

  header .navbar #bs-example-navbar-collapse-1 {
    float: right;
    padding-top: 15px; } }
@media (min-width: 1700px) {
  header .navbar .navbar-header {
    float: left; }
    header .navbar .navbar-header h2 {
      width: 500px;
      display: inline-block; } }
