<!-- #######
 THIS A START TEMPLATE FROM html.tpl.php
#########-->



<!--$theme_path = base_path() . 'sites/all/themes/law_library_bootstrap/';-->


<!DOCTYPE html>

<html lang="en">
    <head>
        <!--<?php print $head; ?>-->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
       
        <title><!--<?php print $head_title; ?>--></title>

        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <!--<link rel="shortcut icon" href="../favicon.ico">-->

        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- removing initial-scale=1.0 disables zooming capabilities -->

        <!-- Google fonts -->
        <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

        <!--<?php print $styles; ?>-->

        <!-- Optional theme 
        <link href="<?php print $theme_path; ?>css/styles.css" rel="stylesheet" media="screen">-->
        <link href="../css/styles.css" rel="stylesheet" media="screen">


         <!-- Important Owl stylesheet
        <link rel="stylesheet" href="<?php print $theme_path; ?>js/owl.carousel/owl-carousel/owl.carousel.css"> -->
         
        <!-- Default Theme 
        <link rel="stylesheet" href="<?php print $theme_path; ?>js/owl.carousel/owl-carousel/owl.theme.css">-->


        
        

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
          <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
        <![endif]-->

        <!--[if gte IE 9]>
        <![endif]-->

        <!--<?php print $scripts; ?>-->


    </head>

    <!--<body class="homepage <?php print $classes; ?>" <?php print $attributes;?>>-->
    <body>

        <!-- HEADER -->
        <header>

            <!-- navbar-static-top MAKES the dropdown to display on top -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation">

                <div class="container-fluid">

                <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                       

                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                         <h1>
                             <a class="cornell-logo" href="#"></a>
                        </h1>
                
                        <h2>
                            <a href="#">Cornell University Library</a> | <a href="#">Division of Rare & Manuscript Collections</a>
                        </h2>

                  
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Browse Collection</a></li>
                            <li><a href="#">Resources</a></li>
                            <li><a href="#">Thematic Notes</a></li>

                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                        </form>

                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
                    
        </header>

        <!-- CONTENT FEATURED MAP AND INTRO -->
        <section class="home-content row show-grid">

            <!-- keep classes LIKE featured-maps AT THE END -->
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 featured-maps">

                <div>

                <div class="carousel-prev"></div>

                <div class="rs-carousel">
                    <ul>
                        <li>
                            <img class="image-carousel" src="../images/map-1.jpg" />
                        </li>

                        <li>
                            <img class="image-carousel" src="../images/map-2.jpg" />
                        </li>

                        <li>
                            <img class="image-carousel" src="../images/map-1.jpg" />
                        </li>

                        <li>
                            <img class="image-carousel" src="../images/map-1.jpg" />
                        </li>
                        
                    </ul>
                </div>

                <div class="carousel-next"></div>

            </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 home-intro">

                <h3>PERSUASIVE CARTOGRAPHY<span>The P.J. Mode Collection</span></h3>

                <p>This is a collection of "persuasive" cartography: maps primarily intended to influence the opinion of the viewer, rather than to communicate “objective” geographic information.</p>

                <p>Maps in the collection address a wide range of messages about religion, politics, slavery, temperance, bias, woman’s suffrage, poverty, prostitution, avarice, health and hazard, conservation, romance and marriage, empire, international power, war and peace, advertising and promotion, etc.</p>  

                <p>The collection also reflects a broad spectrum of means for accomplishing the intended persuasion, including allegorical, satirical and pictorial mapping; inclusion (or exclusion) of critical information; significant cartographic elements (projection, scale, perspective, color, text, etc.); and intentional deception.</p>

                <p>Learn more about <a href="#">persuasive cartography and the collection</a></p>

                <!-- Dropdown Browse Collections -->

                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle browse-collection" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    BROWSE COLLECTION<span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">All Persuasive Maps</a></li>
                        <li><a href="#">Subject</a></li>
                        <li><a href="#">Date</a></li>
                        <li><a href="#">Action</a></li>
                    </ul>
                </div>
            </div>

        </section>

        <!-- FOOTER -->
        <footer>
            <nav>
                <ul class="list-inline">
                    <li><a href="#">Contact</a></li> 
                    <li><a href="#">Copyright info</a></li> 
                    <li><a href="#">Feedback</a></li> 
                    <li><a href="#">Social Links</a></li> 
                </ul> 
        </footer>



    <!--<?php print $page_top; ?>
    <?php print $page; ?>
    <?php print $page_bottom; ?>-->



    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   
     
    <!-- carousel 
    <script type="text/javascript" src="<?php print $theme_path; ?>js/owl.carousel/owl-carousel/owl.carousel.js"></script>-->

    <!-- megamenus 
    <script type="text/javascript" src="<?php print $theme_path; ?>js/doubletaptogo.js"></script>
    <script type="text/javascript" src="<?php print $theme_path; ?>js/main.js"></script>-->

    <!-- Utils
    <script type="text/javascript" src="<?php print $theme_path; ?>js/utils.js"></script>-->


    <!-- Carousel https://github.com/richardscarrott/jquery-ui-carousel -->

    <!-- carousel CSS -->
    <link rel="stylesheet" type="text/css" href="../js/jquery-ui-carousel-master/css/jquery.rs.carousel.css" media="all" />

    <!-- lib -->

    <script type="text/javascript" src="../js/jquery.ui.widget.js"></script>
    <!-- if using touch -->
    <script type="text/javascript" src="../js/jquery.event.drag.js"></script>
    <!-- if using touch and translate3d -->
    <script type="text/javascript" src="../js/jquery.translate3d.js"></script>

    <!-- carousel core -->
    <script type="text/javascript" src="../js/jquery-ui-carousel-master/js/jquery.rs.carousel.js"></script>

    <!-- carousel extensions (optional) -->
    <script type="text/javascript" src="../js/jquery-ui-carousel-master/js/jquery.rs.carousel-autoscroll.js"></script>
    <script type="text/javascript" src="../js/jquery-ui-carousel-master/js/jquery.rs.carousel-continuous.js"></script>
    <script type="text/javascript" src="../js/jquery-ui-carousel-master/js/jquery.rs.carousel-touch.js"></script>

    <script type="text/javascript">

            $(document).ready(function () {

                var $map_container = $( '.featured-maps' ).width();


                var $imageCarousel = $( '.image-carousel' )

                $imageCarousel.css('width', $map_container);

                $('.rs-carousel').carousel({
                    itemsPerTransition: 1,
                    pagination: false,
                    insertPrevAction: function () { return $('<a href="#" class="rs-carousel-action rs-carousel-action-prev"><img class="prev-btn" src="../images/carousel-home-previous.png"/></a>').appendTo($(this).find('.carousel-prev'));
                },
                    insertNextAction: function () { return $('<a href="#" class="rs-carousel-action rs-carousel-action-next"><img class="next-btn" src="../images/carousel-home-next.png"/></a>').appendTo($(this).find('.carousel-next'));}
                });

                // Make carousel responsive
                $(window).resize(function () {
                    
                    
                    var $map_container = $( '.featured-maps' ).width();
                    var $imageCarousel = $( '.image-carousel' )
                    $imageCarousel.css('width', $map_container);

                     console.log($map_container);
                    // pUt it at the end so it takes the value above first
                    $('.rs-carousel').carousel('refresh');
                });

                


            });

        </script>
    
    </body>
</html>



